:root, .light, .light-theme {
  --teal-100: #fafefd;
  --teal-200: #f3fbf9;
  --teal-300: #e1f8f2;
  --teal-400: #cef2ea;
  --teal-500: #a5ddd0;
  --teal-600: #8accbe;
  --teal-700: #5fb8a6;
  --teal-800: #008170;
  --teal-900: #1a3f38;

  --neutral-100: #fcfcfd;
  --neutral-200: #f9f9fb;
  --neutral-300: #eff0f3;
  --neutral-400: #e7e8ec;
  --neutral-500: #d8d9e0;
  --neutral-600: #cdced7;
  --neutral-700: #b9bbc6;
  --neutral-800: #8b8d98;
  --neutral-900: #62636c;

  --black: #1e1f24;
  --white: #FCFCFD;

}