:root {
  --h1-color: var(--teal-900);
  --h2-color: var(--teal-800);
  --intro-color: var(--neutral-700);
}

main {
  width: 80%;
  margin: 4rem auto 0;
}

h1 {
  font-size: 2rem;
  color: var(--h1-color);
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  color: var(--h2-color);
  margin-bottom: 0.5rem;
}

.intro {
  font-size: 1rem;
  color: var(--intro-color);
  line-height: 1.4;
}

.loading {
  cursor: wait;
}